// import the CSS framework
$linkColor: #FF69d6;
$linkColorHover: green;

@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

//html
html {
  font-family: 'Poiret One', cursive;
}

a,
a:hover,
a:focus,
a.active {
  color: black;
}

body {
  background-color: #B3B3D7;
  background-image: url("http://images.neopets.com/themes/000_def_f65b1/banner_bg.png");
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Poiret One', cursive;
}

.header2 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 175px;
  color: white;
  padding: 200px 0px 200px 0px;
  background-image: image-url('logo.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

@media(max-width: 757px) {
  .header2 {
  font-size: 125px;
  background-size: 420px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  }
}

.title-text {
  background-color: rgba(255, 255, 255, .3);
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  background-color: rgba(255, 255, 255, .3);
  }

.navbar {
  background-color: transparent;
  border: none;
  font-family: 'Poiret One', cursive;
}

.navbar .container {
  font-size: 25px;
}
.navbar-inverse .navbar-brand {
  color: white;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .3);
}

.users {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.table {
  background-color: rgba(255, 255, 255, .3);
  font-size: 20px;
}

.info {
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .3);
  margin: 0px 30px 0px 30px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.newnp {
  padding: 50px;
}

.buttonwrap {
  margin-left: auto;
  margin-right: auto;
}

.pets {
  text-align: center;
  background-color: rgba(255, 255, 255, .3);
  color: black;
  margin-bottom: 10px;
}

.petname {
  font-weight: bold;
  font-size: 25px;
}

ul {
  font-weight: bold;
  font-size: 13px;
}

.createpetpet {
  background-color: rgba(0, 0, 0, .3);
  padding: 5px;
  border-radius: 10%;
}
button, input, optgroup, select, textarea {
  background-color: rgba(0, 0, 0, .3);
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10%;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: transparent;
  padding-bottom: 80px;
  width: 100%;
  color: white;
  font-family: 'Poiret One', cursive;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  font-weight: bold;

}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, .3);
  border: none;

}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
  background-color: rgba(0, 0, 0, .3);
  border: none;
}
.authform .button:hover {
  background-color: rgba(0, 0, 0, .3);
}
.authform fieldset {
  @extend .well;
  background-color: rgba(0, 0, 0, .3);
  border: none;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;

}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
  color: rgba(0, 0, 0, .3);
}

